.dropbtn {
    background-color: grey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

 /* Style the links inside the dropdown */
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .cursor-style {
    cursor: url("./images/rockandrollcursor.png"), pointer;
  }

  body {
    background-color: grey;
  }

  #title {
    text-align: center;
    font-family: fantasy;

  }

  #album-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  #album-list {
    background-color: grey;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  #description {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  #likes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
  }

  #amount {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #label {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #review {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(164, 155, 155);
  }

  li {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #review-button {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
  }







